EXPO_PUBLIC_API_URL=http://SEU_IP_AQUI:8000
EXPO_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anon_aqui
# DENTRO DE DEMETER-API
# php artisan serve --host=0.0.0.0 --port=8000

# DENTRO DE DEMETER-APP
# npm install expo (para instalar o Expo CLI globalmente, se ainda não tiver)
# npx expo start
# para testar no celular, use o QR code do Expo Go e certifique-se de que o celular esteja na mesma rede Wi-Fi do computador.
# caso mude algo no app.json, dê Control + C para parar o servidor e rode npx expo start --clear para limpar cache e garantir que as mudanças sejam aplicadas.

# ALGUNS COMANDOS TALVEZ IMPORTANTES (EM DEMETER-APP)
# npx expo install @react-navigation/native
# npx expo install @react-navigation/native-stack
# npx expo install react-native-screens
# npx expo install react-native-safe-area-context
# npx expo install react-native-svg